.textEditor {
  width: 55%;
  margin: 0 auto;
  background-color: #d7a0ea;
}

.textEditor h3 {
  width: fit-content;
  padding: 5px;
  margin-block-start: 0;
  margin-block-end: 0;
  display: inline-block;
}
.textEditor textarea {
  width: 100%;
  padding: 5px;
  resize: vertical;
  border: 1px solid #d7a0ea;
  box-sizing: border-box;
}
.textEditor textarea:focus {
  outline: 1px solid #a180eb;
}
i {
  float: right;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  color: #692AEA;
}
i:hover {
  color: #9666eb;
}


.previewerDiv {
  width: 75%;
  margin: 20px auto;
  background-color: #d7a0ea;
}
.previewerDiv > h3 {
  width: fit-content;
  padding: 5px;
  margin-block-start: 0;
  margin-block-end: 0;
  display: inline-block;
}
.previewerDiv i {
  float: right;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  color: #692AEA;
}
.previewerDiv i:hover {
  color: #9666eb;
}

.preview {
  background-color: #c6c5ea;
  box-sizing: border-box;
  padding: 10px;
}
.preview h1 {
  display: inline-block;
}
.preview p code {
  background-color: white;
  padding: 5px;
}
.preview pre {
  background-color: white;
  padding: 5px;
}
.preview blockquote {
  border-left: 5px solid #692AEA;
}
.preview blockquote p {
  font-size: 20px;
  padding: 5px;
  color: #9666eb;
}
.preview table {
  border-collapse: collapse;
}
.preview table th {
  border: 2px solid #692AEA;
  padding: 5px;
}
.preview table td {
  border: 2px solid #692AEA;
  padding: 5px;
}
.preview img {
  max-width: 75%;
  margin: 1.5em auto;
  display: block;
}
